body {
    margin: 0;
    padding: 0;
    margin-top: 110px;
  }
  
  /* Estilos para el header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 0px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    padding-right: 20px;
  }
  
  .logo img {
    width: 100px;
    height: 110px; 
    margin-right: 50px;
    display: block; /* Evita que el logo se desborde */
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  
  /* Menú de escritorio */
  .menu-desktop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-desktop li {
    position: relative;
    margin: 0 15px;
  }
  
  .menu-desktop a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    text-align: center;
    font-size: 16px;
  }
  
  .menu-desktop a:hover {
    color: #fc3a3a;
  }
  
  .arrow {
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3a3a3a;
    border: 1px solid #ddd;
    padding: 8px 0;
    display: none;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
  }
  
  .menu-desktop li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    margin: 0;
  }
  
  .submenu a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    text-align: center;
  }
  
  .submenu a:hover {
    color: #fc3a3a;
  }
  
  /* Menú hamburguesa */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
  }
  
  /* Menú móvil */
  .menu-mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    border-top: 1px solid #f30808;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    z-index: 999;
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(-20px); /* Inicialmente desplazado hacia arriba */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Mostrar menú móvil con transición */
  .menu-mobile.show {
    display: block; /* Muestra el menú */
    opacity: 1; /* Totalmente visible */
    transform: translateY(0); /* Posición normal */
  }
  
  .menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .menu-mobile li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .menu-mobile a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  
  .menu-mobile a:hover {
    color: #fc3a3a;
  }
  
  .menu-mobile .submenu {
    display: none;
    position: static; /* Asegura que el submenú esté en flujo con su elemento padre */
  }
  
  .menu-mobile .submenu.show {
    display: block;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .menu-desktop {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .container {
      justify-content: space-between;
    }
  
    .logo {
      margin-right: 0;
    }
  
    .logo img {
      width: 100px;
      height: 110px;
      margin-right: 0;
    }
  
    .menu-mobile {
      display: none; /* Inicialmente oculto */
    }
  
    .menu-mobile.show {
      display: block; /* Muestra el menú móvil cuando la clase 'show' esté activa */
    }
  
    .menu-mobile .submenu {
      display: none;
      position: static;
      padding-left: 0px; 
    }
  
    .menu-mobile .submenu.show {
      display: block;
    }
  }
  
  /* Footer estilos */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  
  footer .left {
    flex: 1;
    padding-left: 40px;
  }
  
  footer .right {
    display: flex;
    gap: 20px;
    padding-right: 40px;
  }
  
  footer .right a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  footer .right a img:hover {
    transform: scale(1.2);
  }
  
  /* Media query para pantallas de tamaño medio (tablets y dispositivos similares) */
  @media (max-width: 1024px) {
    footer {
      padding: 10px 0px;
    }
  
    footer .right {
      padding-right: 20px;
    }
  }
  
  /* Media query para pantallas de tamaño pequeño (móviles) */
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      align-items: center;
      padding: 20px 0px;
    }
  
    footer .left {
      padding-left: 0;
      text-align: center;
      margin-bottom: 10px;
    }
  
    footer .right {
      padding-right: 0;
      gap: 10px;
    }
  
    footer .right a img {
      width: 25px;
      height: 25px;
    }
  }